* {
    margin: 0px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 500px; /* inherited by all children */
}

/* index.html */
.recipes-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.recipes-list {
    background-color: mediumslateblue;
    border: 2px solid black;
    margin-left: 1.5rem;
    padding: 1rem;
}

.li-recipe {
    background-color: white;
    border: 2px solid black;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
} 
