* {
    margin: 0px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 500px; /* inherited by all children */
}

/* index.html */
.recipes-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.recipes-list {
    background-color: mediumslateblue;
    border: 2px solid black;
    margin-left: 1.5rem;
    padding: 1rem;
}

.li-recipe {
    background-color: white;
    border: 2px solid black;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
} 

/* recipe pages */
.home {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.recipename-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.recipe-img {
    border: 2px solid black;
    display: block;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.caption {
    margin-left: 1.5rem;
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recipe {
    border: 2px solid;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: 1rem;
}

.li-ingredient {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.li-step {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.credits-heading {
    margin-left: 1rem;
}

.credits  {
    margin-bottom: 10rem;
}