* {
    margin: 0px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 500px; /* inherited by all children */
}

/* index.html */
.recipes-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.recipes-list {
    background-color: mediumslateblue;
    border: 2px solid black;
    margin-left: 1.5rem;
    padding: 1rem;
}

.li-recipe {
    background-color: white;
    border: 2px solid black;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
} 

/* steamed-eggs.html */
.home {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.steamed-eggs-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.steamed-eggs-img {
    border: 2px solid black;
    display: block;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.caption {
    margin-left: 1.5rem;
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recipe {
    border: 2px solid;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: 1rem;
}

.li-steamed-eggs-ingredient {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.li-steamed-eggs-step {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.credits-heading {
    margin-left: 1rem;
}

.credits  {
    margin-bottom: 10rem;
}

/* chicken-arroz-caldo.html */
.chicken-arroz-caldo-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.chicken-arroz-caldo-img {
    border: 2px solid black;
    display: block;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.li-chicken-arroz-caldo-ingredient {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.li-chicken-arroz-caldo-step {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* chocolate-chip-cookies.html */
.chocolate-chip-cookies-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.chocolate-chip-cookies-img {
    border: 2px solid black;
    display: block;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.li-chocolate-chip-cookies-ingredient {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.li-chocolate-chip-cookies-step {
    margin-top: 1rem;
    margin-bottom: 1rem;
}